using 'main.bicep'

param customerName = 'bwc'
param location = 'westeurope'
param locationShortCode = 'weu'
param environmentType = 'dev'
param deployedBy = ''
param tags = {}

// Virtual Machine Configuration
param vmUserName = ''
param vmUserPassword = ''

// Toggle Azure Managed Grafana deployment
param enableGrafanaMonitoring = true
